* {
  box-sizing: border-box;
}

.grid {
  display: grid;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

html {
  font-family: 'Dosis', Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #818181;
}

body {
  background: linear-gradient(#000, 85%, #124a6b);
  display: grid;
  grid-template-columns: 1fr 100px 100px 100px 100px 100px 100px 100px 100px 100px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
  height: 100vh;
}

footer {
  color: #000;
  font-weight: bold;
  grid-column: 1 / 12;
  grid-row: 3;
  padding: 30px;
  text-align: center;
  text-shadow: 0 0 5px #dfdfdf;
}

header {
  grid-row: 1;
  grid-column: 1 / 12;
}

h1, h2, h3, h4, h5, h6  {
  font-family: 'Caudex', 'Times New Roman', Times, serif;
  color: #818181;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 1.7em;
  padding-bottom: 65px;
}

h3 {
  font-size: 1.2em;
}

.center-content {
  align-self: center;
  grid-column: 2 / 11;
  grid-row: 2;
  text-align: center;
}

.name-rank p {
  line-height: 1.5;
}

.btn-box {
  display: inline-block;
}

.link-btn {
  /* background: transparent; */
  background: #adadad;
  border-radius: 10px;
  box-shadow: 0 0 30px #830000;
  color: #830000;
  display: inline-block;
  font-family: 'Dosis', Arial, Helvetica, sans-serif;
  font-size: .8em;
  font-weight: bold;
  margin: 30px;
  opacity: .75;
  padding: 10px 0 12px 0;
  width: 140px;
  text-decoration: none;
}

.link-btn a {
  text-shadow: 0 0 10px #000;
}

.link-btn:hover {
  opacity: 1;
  box-shadow: 0 0 30px #6b8300;
  color: #6b8300;
}