* {
  box-sizing: border-box;
}

/* TOC */
/* ============================================= */
/* general page styling */
/* sticky footer styling */
/* header and navbar styling */
/* hamburger menu styling */
/* main-content styling */
/*    intro styling */
/*    portfolio section styling */
/*    about-me section */
/* contact form styling */
/* footer styling */
/* ============================================= */

/* general page styling */
html {
  background-color: #e0e0e0;
  color: #ccc;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.grid {
  display: grid;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Caudex', 'Times New Roman', Times, serif;
  color: #ccc;
}

.italic {
  font-style: italic;
}
/* end general page styling */

/* sticky footer styling */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  flex-shrink: 0;
}
.main-content {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}
/* end sticky footer styling */

/* header and navbar styling */
header {
  background: linear-gradient(#000, #124a6b);
  border-bottom: 1px solid #171717;
  box-shadow: 0 0 25px #000;
  padding: 50px;
  position: fixed;
  top: 0;
  transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: 99;
}
.shrink {
  padding: 15px;
}
.header {
  margin: auto;
  position: relative;
  width: 1200px;
}
.header  h1 {
  color: #afafaf;
  display: inline-block;
  font-size: 2.8em;
  font-weight: bold;
  margin-left: 40px;
}
header a {
  text-decoration: none;
  color: #afafaf;
}
header a:visited {
  color:  #afafaf;
}

header a:hover {
  text-decoration: none;
  color: #cecece;
}
.main-nav {
  float: right;
  padding: 10px 40px 0 0;
}
.main-nav > a {
  font-size: 1.4em;
  display: inline-block;
  text-decoration: none;
  border-right: 1px solid #acacac;
  padding: 0 16px 0 10px;
}
.main-nav > a:last-child {
padding: 0 0 0 10px;
border: none;
}
/* end header and navbar styling */

/* hamburger menu styling */
.menu,
.hamburger,
.cross {
  display: none;
}

.hamburger {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  color: #999;
  border: 2px solid #999;
  border-radius: 5px;
  font-size: 1.4em;
  font-weight: bold;
  margin-right: 25px;
  outline: none;
  z-index: 999;
}
.cross {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 14px;
  color: #999;
  font-size: 3em;
  font-weight: bold;
  margin-right: 25px;
  outline: none;
  z-index: 999;
}
.menu {
  z-index: 99;
  font-weight: bold;
  width: 100%;
  background-color: #124a6b; 
  position: fixed;
  top: 145px;
  text-align: center;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.menu li {
  color: #afafaf;
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #afafaf;
}
.menu ul a {
  text-decoration: none;
}
.menu li:hover {
  background-color: #155981; 
  color: #afafaf;
}
/* end hamburger menu styling */

/* main-content styling */
.main-content {
  grid-template-columns: repeat(12, 1fr);
}
/* intro styling */
#intro {
  background-color: #222;
  box-shadow: 0 0 20px #111;
  margin: 240px 0 60px 0;
  padding: 100px;
  grid-row: 1;
  grid-column: 1 / 13;
}

#intro-container {
  max-width: 1000px;
  margin: auto;
}

#intro img {
  border-radius: 50%;
  float: left;
  height: 300px;
  margin: 0 50px;
  width: 300px;
}

#intro p {
  max-width: 60%;
  margin: auto;
}

#intro h1 {
  font-size: 4em;
}

#intro h2 {
  font-size: 2.2em;
}

#intro .skills {
  display: inline-block;
  font-size: 1.8em;
  padding-top: 35px;
}

#intro h3 {
  font-size: 1.7em;
  padding: 35px 0 5px 0;
}

#intro h3 {
  font-size: 1.5em;
  padding-top: 30px;
}

.name-rank {
  padding: 30px 0;
}

.also-offer {
  color: #222;
  border-bottom: 1px solid #222;
  grid-column: 3 / 11;
  grid-row: 2;
  padding: 20px;
  text-align: center;
}

.also-offer h3 {
  display: inline-block;
  color: #222;
  font-size: 1.3em;
  padding-bottom: 10px;
}
/* end intro section styling */

/* portfolio section styling */

#my-work {
  grid-row: 3;
  grid-column: 2 / 12;
  text-align: center;
}

#my-work h2 {
  color: #222;
  font-size: 2.5em;
  margin-bottom: 20px;
  padding: 120px 0 20px 0;
  text-shadow: 0 0 10px #333;
}

.img-box:hover {
  opacity: .9;
}

.h4-link  {
  color: #111;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.image-caption {
  color: #111;
  margin-bottom: 12px;
}

.image-caption:hover  {
  color: #333;
  text-decoration: underline;
}

.img-box {
  background-color: #fff;
  box-shadow: 10px 10px 20px #222;
  display: inline-block;
  width: 320px;
  margin: 0 auto 50px auto;
  text-align: center;
}

.portfolio-img {
  max-width: 100%;
  padding: 10px;
}

#img-box-one {
  grid-row: 4;
  grid-column: 4 / 7;
}

#img-box-two {
  grid-row: 4;
  grid-column: 7 / 10;
}

#img-box-three {
  grid-row: 6;
  grid-column: 4 / 7;
  margin-bottom: 100px;
}

#img-box-four {
  grid-row: 6;
  grid-column: 7 / 10;
  margin-bottom: 100px;
}
/* end portfolio section styling */

/* about-me section */
#about-me {
  grid-row: 8;
  grid-column: 3 / 11;
  width: 1000px;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

#about-me h3 {
  border-bottom: 1px solid #222;
  color: #222;
  font-size: 1.7em;
  padding-bottom: 15px;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #333;
}
#about-me p {
  color: #222;
  line-height: 1.25;
}
/* end about-me section styling */
/* end main-content styling */

/* contact form styling */
#contact {
  background: linear-gradient(135deg, #000, 75%, #124a6b);
  border: 2px solid #124a6b;
  box-shadow: 8px 8px 15px #222;
  width: 650px;
  padding: 30px;
  margin: 200px auto 30px auto;
}
#contact h2 {
  font-size: 2em;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid #124a6b;
}
input, textarea {
  background-color: #b3b3b3;
  display: block;
  min-width: 100%;
  max-width: 100%;
  border: 2px solid #124a6b;
  margin: 8px 0 16px 0;
  padding: 8px 12px;
  box-sizing: border-box;
}

textarea {
  height: 200px;
}

input::placeholder,
textarea::placeholder {
  color: #666;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 20px #124a6b;
}

.btn {
  background-color: #b1b1b1;
  border: 2px solid #124a6b;
  color: #124a6b;
  display: inline-block;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: .9em;
  font-weight: bold;
  min-width: unset;
  max-width: unset;
  opacity: .8;
}
.btn:hover {
  opacity: 1;
}
.btn:active {
  opacity: 1;
  transform: translateY(2px);
}
.btn:focus {
  box-shadow: none;
  outline: none;
}
/* end contact form styling */

/* footer styling */
.footer-links {
  display: flex;
  width: 1000px;
  margin: auto;
}
footer h6 {
  color: #d8d8d8;
  display: inline-block;
  font-size: 1.25em;
  padding: 20px 0 5px 0;
}
ul {
  list-style-type: none;
  padding-left: 20px;
}
li {
  line-height: 1.3;
  padding: 3px 0;
}
li a {
  color: #6d99b3;
}
li a:visited {
  color: #6d52ad;
}
li a:hover {
  color: #1c78ad;
}
.footer-col {
  padding: 30px;
}
.first-col {
  width: 50%;
}
.second-col {
  width: 50%;
}
.connect {
  margin: 25px auto 0 auto;
  width: 400px;
  text-align: center;
}
.connect-images {
  display: flex;
  width: 180px;
  margin: auto;
}
.connect a {
  opacity: .7;
  text-decoration: none;
  min-width: 33.33%;
}
.connect a:hover {
  opacity: 1;
  text-decoration: none;
}
.connect img {
  margin: auto;
  width: 32px;
  border-radius: 50%;
}
footer p {
  text-align: center;
  padding: 25px 0;
  font-family: 'Times New Roman', Times, serif;
}
footer {
  background: linear-gradient(#124a6b, #000);
  border-top: 1px solid #222;
  box-shadow: 0 0 20px #000;
  color: #9b9b9b;
  font-size: .9em;
  margin-top: 50px;
}

#contact-footer {
  margin-top: 30px;
}
/* end footer styling */

/* media queries */
@media (max-width: 1200px) {
  
  .header {
    margin: auto;
    width: 980px;
  }

  .header > h1 {
    margin-left: 0;
    padding-left: 0;
  }

  .main-nav {
    display: none;
  }
  .hamburger {
    display: unset;
  }

}