* {
  box-sizing: border-box;
}

html {
  /* background-image: url("../images/ravenna.png");
  background-repeat: repeat; */
  background-color: #333;
  color: #999;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* stick footer styling */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  flex-shrink: 0;
}
.main-content {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}
/* end sticky footer styling */

.grid {
  display: grid;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Caudex', 'Times New Roman', Times, serif;
  color: #888;
}

header {
  background: linear-gradient(#000, #124a6b);
  border-bottom: 1px solid #171717;
  box-shadow: 0 0 25px #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.header {
  margin: auto;
  width: 1200px;
}

h1 {
  display: inline-block;
  font-size: 2.5em;
  font-weight: bold;
  margin-left: 40px;
  padding: 15px;
}

header a {
  text-decoration: none;
  color: #afafaf;
  font-size: 1.4em;
}

header a:visited {
  color:  #afafaf;
}

header a:hover {
  text-decoration: none;
  color: #cecece;
}

nav {
  float: right;
  padding: 33px 40px 30px 0;
}

nav a {
  text-decoration: none;
  border-right: 1px solid #acacac;
  padding: 0 16px 0 10px;
}

nav a:last-child {
padding: 0 0 0 10px;
border: none;
}

.main-content {
  grid-template-columns: 1fr 100px 100px 100px 100px 100px 100px 100px 100px 100px 1fr;
  grid-gap: 10px;
}

section {
  background: linear-gradient(135deg, #000, 75%, #124a6b);
  border: 2px solid #124a6b;
  box-shadow: 5px 5px 20px #111;
  grid-column: 2 / 8;
  margin: 117px 0 30px 0;
  padding: 30px;
}

section img {
  border: 2px solid #666;
  box-shadow: 5px 5px 10px #000;
  float: left;
  margin: 8px 15px 15px 0;
  width: 300px;
}

section p {
  line-height: 1.5;
}

h2 {
  border-bottom: 2px solid #124a6b;
  font-size: 2em;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

ul {
  list-style-type: disc;
  padding-left: 40px;
  padding-bottom: 30px;
}

li {
  line-height: 1.3;
  padding: 3px 0;
}

li a {
  color: #6d6d91;
}

li a:hover {
  color: #972525;
}

h5 {
  display: inline-block;
  border-bottom: 2px solid #124a6b;
  font-size: 1.3em;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

h6 {
  display: inline-block;
  font-size: 1.1em;
  margin: 10px 0 5px 0;
  padding-bottom: 5px;
}

input, textarea {
  background-color: #b3b3b3;
  display: block;
  min-width: 100%;
  max-width: 100%;
  border: 2px solid #124a6b;
  margin: 8px 0 16px 0;
  padding: 8px 12px;
  box-sizing: border-box;
}

textarea {
  height: 200px;
}

input::placeholder,
textarea::placeholder {
  color: #666;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 20px #124a6b;
}

.btn {
  background-color: #b1b1b1;
  border: 2px solid #124a6b;
  color: #124a6b;
  display: inline-block;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: .9em;
  font-weight: bold;
  min-width: unset;
  max-width: unset;
  opacity: .8;
}
.btn {
  box-shadow: 0 6px 5px #333;
}
.btn:hover {
  box-shadow: 0 6px 5px #333;
  opacity: 1;
}
.btn:active {
  background-color: #888888;
  box-shadow: 0 3px 5px #333;
  opacity: 1;
  transform: translateY(3px);
}
.btn:focus {
  outline: none;
  box-shadow: 0 6px 5px #333;
}


aside {
  align-self: start;
  background: linear-gradient(to bottom right, #000, 75%, #124a6b);
  border: 2px solid #124a6b;
  box-shadow: 5px 5px 20px #111;
  grid-column: 8 / 11;
  margin: 117px auto 30px auto;
  padding: 30px;
}

aside img {
  margin-right: 4px;
}

aside img:last-child {
  padding-right: 0;
}

h3 {
  border-bottom: 2px solid #124a6b;
  font-size: 1.5em;
  margin-bottom: 30px;
  padding-bottom: 22px;
}

aside a {
  opacity: .8;
  text-decoration: none;
}

aside a:hover {
  opacity: 1;
  text-decoration: none;
}

footer {
  background: linear-gradient(#124a6b, #000);
  border-top: 1px solid #222;
  box-shadow: 0 0 20px #000;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.05em;
  padding: 24px 0 26px 0;
  text-align: center;
  text-shadow: 0 0 20px #dfdfdf;
}